@font-face {
    font-family: "Post NL";
    src: url("TrueType/PostNL-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Post NL";
    src: url("TrueType/PostNL-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Post NL";
    src: url("TrueType/PostNL-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Post NL";
    src: url("TrueType/PostNL-Bold-Italic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Post NL Poster";
    src: url("TrueType/PostNL-Poster.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Post NL Medium";
    src: url("TrueType/PostNL-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Post NL Medium";
    src: url("TrueType/PostNL-Medium-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Post NL Light";
    src: url("TrueType/PostNL-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Post NL Light";
    src: url("TrueType/PostNL-Light-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Arial MT";
    src: url("TrueType/Arial-MT.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arial MT";
    src: url("TrueType/Arial-MT-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}