@media screen and (max-width: 500px) {
    .row {
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        display: flex;   
        flex-wrap: wrap;
    }

    .column-middle, .column-left, .column-right { 
        flex: 100%;
    }

    .column-left {
        order: 2;
    }

    .column-middle {
        order: 1;
    }

    .column-right {
        order: 3;
    }



    label {
        -webkit-tap-highlight-color: transparent;
    }

    body {
        margin: 10px;
    }

    body .control-logo {
        margin-left: 0;
    }
    
    .row.submit-container button::after {
        display: none;
    }

    .device-menu {
        margin-left: -10px;
    }

    body .carousel-text {
        height: 20%;
        margin-top: 15%;
        width: 80%;
    }

    body .carousel-text h3 {
        font-size: 14px;
    }

    body .carousel-text p {
        font-size: 12px;
    }
    
    body .copyright img {
        position: relative;
        right: calc(50% - 19px);
    }

    body .return-address-container img {
        margin-left: 0;
        padding-top: 10px;
    }

    body .registration .submit-container p {
        font-size: 11px;
        margin-right: 5px;
    }

    body .checkmark {
        right: 17px;
    }
}

@media screen and (max-width: 720px) {
    .row {
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        display: flex;   
        flex-wrap: wrap;
    }

    .column-left, .column-right, .column-middle {
        margin: 0 auto;
    }

    .column-middle { 
        flex: 100%;    
    }

    .column-left, .column-right {
        flex: 50%;
    }

    .column-left {
        order: 2;
    }

    .column-middle {
        order: 1;
    }

    .column-right {
        order: 3;
    }

    body .copyright p {
        font-size: 10px;
    }
}

@media screen and (max-width: 940px) {
    .row {
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        display: flex;   
        flex-wrap: wrap;
    }

    .column-left, .column-right, .column-middle {
        margin: 0 auto;
    }

    .column-middle { 
        flex: 100%;    
    }

    .column-left, .column-right {
        flex: 50%;
    }

    .column-left {
        display: none;
    }

    .column-middle {
        order: 1;
    }

    .column-right {
        order: 3;
        flex: 100%;
    }

    .column-right > ul {
        width: 100%;
    }



    .site-header .device-menu {
        background: #666666;
        border: 1px solid black;
        border-left: none;
        border-radius: 0 10px 10px 0;
        color: #fdfdfd;
        display: block;
        font-family: "Post NL Poster";
        font-size: 30px;
        letter-spacing: 1px;
        text-align: center;
        width: 95%;
    }

    .site-header .device-menu:focus {
        outline: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }


    body .site-header::after {
        display: none;
    }

    .site-header .header-block h1 {
        margin-left: 30px;
    }

    div.header-block:nth-of-type(2), form.search { 
        display: none;
    }

    div.header-block:nth-of-type(2) {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-radius: 0 0 10px 0;
        margin-left: -10px;
        margin-right: calc(5% + 10px);
    }

    div.header-block:nth-of-type(2) a, div.header-block:nth-of-type(2) .header-hyp{
        display: block;
        align-content: center;
    }

    body .header-hyp {
        width: 100%;
        margin: -20px 0 0 0;
    }

    div.header-block:nth-of-type(2) a {
        margin: 10px 0 10px 10px;
    }

    body .header-hyp:last-of-type {
        margin-left: 0;
        margin-top: -30px;
    }

    body .header-hyp:last-of-type .arrow-down {
        display: inline;
    }

    body .header-hyp:last-of-type a::before {
        display: none;
    }

    .control-logo {
        margin-left: 10px;
    }

    .mailBtn {
        display: none;
    }

    .review {
        display: none;
    }

    .site-footer .row section:first-of-type {
        padding-left: 15px;
    }
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.device-menu {
    display: none;
}

h2 {
    color: #ed8c00;
    font-family: "Post NL";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 30px;
    margin-bottom: 12px;
}

h3 {
    color: #001376;
    font-family: "Post NL";
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}

h4 {
    color: #ed8c00;
    font-family: "Post NL";
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
}

button {
    cursor: pointer;
}

input:focus {
    outline: none;
}

.site-header {
    padding: 5px 0;
}

.site-header::after {
    border-bottom: 1px solid #ed8c00;
    content: "";
    display: inline-block;
    float: right;
    position: relative;
    top: -5px;
    width: calc(100% - 60px);
}

.site-header, .site-content, .copyright {
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
}

.header-block .row {
    align-items: center;
}

.header-block {
    display: inline-block;
    flex: 50%;
}

.header-block .mailBtn {
    margin-left: 39px;
}

.header-block h1 {
    color: #ed8c00;
    font-family: "Post NL light";
    font-size: 25px;
    letter-spacing: 0.25px;
    font-weight: 300;
    margin-left: 48px;
}

.header-block:first-of-type {
    margin-top: 20px;
}

.header-block:last-of-type {
    margin-top: 5px;
    padding-left: 10px;
}

.logSign {
    color: #666666;
    font-family: "Arial MT";
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-left: 5px;
}

.logSign:first-of-type {
    margin-left: 15px;
}

.header-block .arrow {
    color: #ed8c00;
    font-family: "Post NL";
    font-size: 10px;
}

.search {
    display: inline-block;
    font-family: "Arial MT";
    font-size: 12px;
    margin-left: 30px;
    margin-right: 0;
    max-width: 300px;
}

.search::before {
    background: transparent url('../images/icon_zoeken.png') no-repeat;
    content: "";
    display: inline-block;
    height: 20px;
    left: -5px;
    position: relative;
    top: 5px;
    width: 20px;
}

.search input { 
    border: 1px solid black;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    font-family: "Post NL";
    font-size: 13px;
    height: 32px;
    margin-left: -40px;
    margin-right: -30px;
    opacity: 0.5;
    padding-left: 40px;
    width: 240px;
}

.search input:focus {
    opacity: 1;
}

.search button, .submit-container button {
    background-color: #e2e6e7;
    background-image: linear-gradient(to bottom, #c0c0c0 0%, #666666 100%);
    border: none;
    -moz-border-radius: 5px 5px 10px 5px;
    -webkit-border-radius: 5px 5px 10px 5px;
    border-radius: 5px 5px 10px 5px;
    height: 32px;
    position: relative;
    width: 85px;
}

.search button, .submit-container button {
    color: #ffffff;
    font-family: "Post NL";
    font-size: 13px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    top: 1px;
}

.search button::after, .submit-container button::after {
    background: transparent url('../images/arrow-right.png') no-repeat;
    content: "";
    display: inline-block;
    height: 15px;
    left: 5px;
    position: relative;
    top: 3px;
    width: 15px;
}

.column-right .search::before {
    display: none;
}

.header-hyp {
    margin-right: 35px;
    margin-top: -13px;
}

.header-hyp img {
    bottom: 5px;
    position: relative;
}

.arrow-down {
    color: #ed8c00;
    font-family: "Post NL";
    font-size: 10px;
    font-weight: bold;
    position: relative;
    top: -2px;
}

.header-hyp:last-of-type {
    margin-left: 25px;
    margin-right: 0;
}

.header-hyp:last-of-type h3 {
    height: 22px;
}

.header-hyp:last-of-type a:before {
    background: transparent url('../images/winkelmandje.png') no-repeat;
    content: "";
    display: inline-block;
    height: 28px;
    left: -7px;
    position: relative;
    top: -4px;
    width: 36px;
}

.header-hyp:last-of-type .arrow-down {
    display: none;
}

.menu-header {
    color: #001376;
    font-family: "Post NL Light";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 30px;
    text-transform: uppercase;
}

.header-paragraph {
    color: #666666;
    font-family: "Arial MT";
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    margin-top: -5px;
}



/*Breadcrump*/
.breadcrump {
    margin: 10px 0 10px 0;
}

.breadcrump ul {
    list-style-type: none;
    padding: 0;
}

.breadcrump li {
    display: inline-block;
}

.breadcrump li a, .delete-link {
    color: #666666;
    font-family: "Arial MT", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.breadcrump li a span, .delete-link {
    color: #ed8c00;
    text-decoration: underline;
}



/*column-left*/
.column-left a{
    color: #333;
}

.column-left h3 {
    padding-bottom: 7px;
}

.column-left h3 a {
    color: #001376;
    font-family: "Post NL Medium";
    font-size: 14px;
}

.column-left ul {
    padding-left: 0;
}

.column-left li {
    border-top: 1px dotted #666666;
    color: #666666;
    font-family: "Arial MT";
    font-size: 12px;
    list-style-type: none;
    margin-right: 25px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.column-left li:last-of-type {
    border-bottom: 1px dotted #666666;
}

.column-left li a::after {
    background: transparent url('../images/arrow-right_orange.png') no-repeat;
    content: "";
    display: inline-block;
    float: right;
    height: 16px;
    width: 16px;
}





/*column-middle*/
.column-middle {
    margin-bottom: 70px;
    max-width: 460px;
    width: 100%;
}

.carousel-text {
    background-color: rgba(193, 197, 199, 0.5);
    border-radius: 0 5px 5px 0;
    height: 73px;
    margin-bottom: -73px;
    position: relative;
    top: -128px;
    width: 343px;
    z-index: 1;
}

.carousel-text h3, .carousel-text p {
    color: #ffffff;
    padding-left: 22px;
}

.carousel-text h3 {
    font-family: "Post NL";
    font-size: 25px;
    font-weight: 700;
    padding-top: 10px;
}

.carousel-text p {
    font-family: "Post NL";
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: -5px;
}

.column-middle section hr {
    margin-top: 5px;
}

.column-middle article img {
    float: left;
    margin-top: -3px;
    max-width: 140px;
}

.column-middle article {
    padding-top: 3px;
}

.column-middle article h2 {
    line-height: 1.25;
    margin-bottom: 4px;
}

.column-middle article:first-of-type h3 {
    font-style: italic;
    letter-spacing: 0;
    margin-bottom: 10px;
}

.column-middle article h3 {
    color: #001376;
    font-family: "Post NL Medium";
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.3;
}

.column-middle article p {
    color: #666666;
    font-family: "Arial MT";
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 30px;
}

figure:first-of-type {
    margin-bottom: 48px;
    margin-top: 25px;
}

figure:last-of-type {
    margin-top: 66px;
}

figure {
    margin-bottom: 30px;
    margin-left: 18px;
}

figure img {
    float: left;
    margin-right: 25px;
    margin-top: -9px;
    padding-top: 10px;
}

figcaption {
    margin-left: 140px;
}

figcaption h4 {
    color: #666666;
    font-family: "Post NL";
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    padding: 0;
}

figcaption p {
    color: #666666;
    font-family: "Arial MT";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}




/*column-right*/
.column-middle hr, .column-right hr {
    color: #666666;
    margin: 20px 0;
    opacity: 0.5;
}

.column-right ul {
    padding-left: 7px;
}

.column-right li {
    list-style-type: none;
}

.column-right hr {
    margin-top: 9px;
}

.column-right hr:first-of-type {
    margin-top: 22px;
}

.column-right li:first-of-type {
    list-style-type: none;
    margin-bottom: 10px;
}

.column-right li::before {
    content: "";
    display: inline-block;
    height: 30px;
    left: 15px;
    margin-right: -32px;
    position: relative;
    vertical-align: top;
    width: 31px;
}

.column-right li:nth-of-type(1)::before {
    background: transparent url('../images/helpdesk.png') no-repeat;
}

.column-right li:nth-of-type(2)::before {
    background: transparent url('../images/telefoon.png') no-repeat;
}

.column-right li:nth-of-type(3)::before {
    background: transparent url('../images/printer.png') no-repeat;
}

.column-right li:nth-of-type(3) div {
    margin-top: -33px;
}

.column-right li:nth-of-type(4)::before {
    background: transparent url('../images/envelop_copy.png') no-repeat;
}

.column-right li:nth-of-type(4) div {
    margin-top: -30px;
}

.column-right li:nth-of-type(5)::before {
    background: transparent url('../images/slot.png') no-repeat;
}

.column-right li:nth-of-type(5) div {
    margin-top: -30px;
}

.column-right li:nth-of-type(6)::before {
    background: transparent url('../images/recycle.png') no-repeat;
}

.column-right li:nth-of-type(6) div {
    margin-top: -30px;
}

.column-right li div {
    display: inline-block;
    margin-left: 60px; 
}

.column-right li address {
    font-family: "Post NL Medium";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;  
}

.column-right li h4 {
    line-height: 17px;
    padding-bottom: 4px;
}

.column-right li p {
    font-family: "Arial MT";
    line-height: 19px;
    font-size: 12px;
    font-weight: 400;
    word-wrap: break-word;
}

.column-right li:first-of-type p {
    font-family: "Arial MT";
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
}

.column-right a {
    color: #333;
}

.search .phone {
    color: #ffffff;
    font-family: "Arial - Bold MT";
    font-size: 12px;
    height: 30px;
    letter-spacing: 0.5px;
    text-transform: none;
    width: 100%;
}

.search .phone::after {
    display: none;
}

.review {
    border: 1px solid rgba(210, 214, 217, 0.5);
    border-radius: 5px;
    margin-left: 10px;
    min-width: 220px;
    padding: 18px 20px 10px 20px;
    width: 100%;
}

.review h4 {
    padding-bottom: 2px;
}

.review cite {
    color: #666666;
    font-family: "Arial MT";
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
}

#sprite {
    background: url(../images/sprite-star.png) 0 -150px;
    height: 25px;
    margin-top: 5px;
    width: 115px;
}


/* footer */
.site-footer {
    background: #fdfdfd;
    border-bottom: 1px solid rgba(193, 197, 199, 0.5);
    border-top: 1px solid rgba(193, 197, 199, 0.5);
    margin: 0;
}

.site-footer ul {
    list-style-type: none;
    padding: 0;
}

.site-footer .row {
    margin: 0 auto;
    margin-bottom: 3px;
    max-width: 940px;
    width: 100%;
}

.site-footer .row:nth-last-of-type(2) ul {
    line-height: 13px;
}

.site-footer .row:first-of-type {
    border-bottom: 1px dotted rgba(193, 197, 199, 0.5);
    padding-bottom: 7px;
}

.site-footer .row:last-of-type {
    margin-bottom: 0;
    margin-top: 7px;
}

.site-footer .row:last-of-type section {
    margin-bottom: 24px;
}

.site-footer section {
    margin: 10px auto;
    max-width: 235px;
    padding-left: 15px;
    width: 100%;
}

.site-footer section:first-of-type {
    padding-left: 0;
}

.site-footer h4 {
    border-bottom: 1px dotted rgba(193, 197, 199, 0.5);
    color: #001376;
    font-family: "Post NL Medium";
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-right: 20px;
    padding-bottom: 7px;
}

.site-footer .row section:last-of-type h4 {
    margin-right: 0;
}

.site-footer .row:last-of-type h4 {
    padding-bottom: 0;
}

.site-footer a {
    color: #666666;
    display: block;
    font-family: "Arial MT";
    font-size: 12px;
    font-weight: 400;
    margin: 6px 0 0 0;
}

.copyright {
    background-color: inherit;
    margin-bottom: 60px;
    margin-top: 10px;
}

.copyright p, .copyright img {
    display: inline-block;
    float: right;
}

.copyright p {
    color: #666666;
    font-family: "Post NL Medium";
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 12px 14px;
}

.copyright .copyright-text {
    color: #001376;
}

.copyright img {
    display: inline-block;
    float: right;
    height: 38px;
    width: 38px;
}




.row {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;   
    flex-wrap: wrap;
}

.column-left {
    max-width: 240px;
    width: 100%;
} 

.column-right { 
    max-width: 220px;
    width: 100%;
    margin-left: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

header, footer {
    clear: left;
}

header div, div.container {
    display: inline-block;
}

.left ul, .right ul{
    list-style-type: none;
    padding: 0;
}
   
.left ul a, .right ul a{
    text-decoration: none;
}




/*Owl carousel*/

.owl-dots {
    float: right;
}

.owl-item img {
    border-radius: 5px;
    height: 100%;
    max-height: 225px;
    max-width: 460px;
    width: 100%;
}

.owl-dot {
    background: #c1c5c7;
    border-radius: 50%;
    display: inline-block;
    height: 6px;
    margin-left: 6px;
    margin-top: 10px;
    width: 6px;
}

.owl-dot.active {
    background: #ed8c00;
}





/* Registration */
.registration section {
    margin-top: 5px;
}

.column-middle.registration article h3 {
    font-style: normal;
    letter-spacing: 0;
    margin-top: 19px;
    margin-bottom: 5px;
}

.column-middle.registration article:first-of-type p {
    margin-bottom: 0;
}

.registration label {
    cursor: pointer;
}

.registration .input {
    display: inline-block;
}

.registration ul {
    list-style-type: none;
    padding: 0;
}

.registration hr {
    margin-bottom: 0;
    margin-top: 0;
}

.label {
    color: #666666;
    display: inline-block;
    font-family: "Arial MT";
    font-size: 12px;
    line-height: 30px;
    width: 235px;
}

.explanation {
    font-size: 11px !important;
}

.required-star {
    color: #ed8c00;
    font-size: 12px;
}

.registration .input input{
    border: 1px solid #666666;
    border-radius: 5px;
    color: #666666;
    font-family: "Arial MT";
    font-size: 12px;
    height: 30px;
    margin-top: 10px;
    opacity: 0.5;
    padding-left: 9px;
}

.registration .input input.with-value {
    opacity: 1;
}

.registration .input input:focus {
    opacity: 1;
}

.input input:nth-of-type(2) {
    margin-left: 5px;
}

.radio-container {
    margin-top: 10px;
}

.registration .input.radio input {
    opacity: 0;
    position: absolute;
}

.registration .input.radio label {
    color: #656565;
    font-family: "Arial MT";
    font-size: 12px;
    margin-right: 35px;
    
}

.round, .dot, .square {
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    top: 3px;
}

.round {
    display: inline-block;
    height: 15px;
    width: 15px;
}

.dot {
    background: black;
    display: inline-block;
    height: 4px;
    opacity: 0;
    right: 9px;
    top: -2px;
    width: 4px;
}

.registration .input.radio input:checked ~ .dot, .checkbox-container input:checked ~ .checkmark {
    opacity: 1;
}

.registration .input.radio input:checked ~ .round {
    background-color: #4164b6;
}

.checkbox-container {
    color: #656565;
    display: inline-block;
    font-family: "Arial MT";
    font-size: 12px;
    margin-top: 5px;
}

article:nth-of-type(4) .checkbox-container {
    margin-bottom: 10px;
}

.checkbox-container input {
    opacity: 0;
    position: absolute;
}

.checkbox-container .square {
    border-radius: 2px;
    display: inline-block;
    height: 13px;
    width: 13px;
    top: 1px;
}

.checkbox-container input:checked ~ .square {
    background-color: #053bb5;
}

.checkmark {
    color: black;
    display: inline-block;
    font-size: 20px;
    height: 10px;
    opacity: 0;
    right: 13px;
    position: relative;
    top: -2px;
    width: 10px;
}

.return-address-container {
    margin-top: 23px;
}

.registration .return-address-container p {
    line-height: 14px;
    margin-bottom: 0;
    max-width: 160px;
    width: 100%;
}

.return-address-container a {
    margin-top: 25px;
}

.return-address-container img {
    margin-left: 98px;
}

.submit-container {
    float: right;
    margin-top: 40px;
    margin-bottom: 35px;
}

.registration .submit-container p {
    margin-right: 152px;
    margin-top: 7px;
}

.registration .submit-container button {
    background-image: linear-gradient(to bottom, #fab31b 0%, #e55423 100%);
    height: 30px;
    text-transform: none;
    width: 97px;
}

.submit-container button::after {
    background: transparent url(../images/white_arrow.png) no-repeat;
}

.required-explanation {
    color: red;
}



[name="name"], [name="contact-last-name"], [name="contact-department"], 
[name="contact-duty"], [name="contact-email"] {
    width: 218px;
}

[name="street"], [name="contact-name"], [name="delivery-street"] {
    width: 148px;
}

[name="hause"], [name="prefix"], [name="delivery-hause"] {
    width: 60px;
}

[name="postcode"], [name="delivery-postcode"] {
    width: 70px;
}

[name="after-post-code"], [name="bwt"], [name="kvk"] {
    width: 138px;
}

[name="phonenumber"], [name="mobile"] {
    width: 85px;
}

[name="delivery-city"] {
    width: 140px;
}







/* For IE */
.ie-header-block {
    flex: 49%;
}

.ie-header-hyp {
    margin-right: 15px;
}

.ie-header-hyp:last-of-type {
    margin-left: 0;
}

.ie-search {
    margin-left: 27px;
}

.ie-search button {
    top: 2px;
}

.registration .submit-container p.ie-submit-paragraph {
    margin-right: 135px;
}

/* For Edge*/
.edge-header-hyp:last-of-type {
    margin-left: 0;
}

.edge-checkmark {
    right: 16px;
    font-size: 16px;
}

/* For Mozilla*/
.header-hyp.moz-header-hyp:last-of-type {
    margin-left: 15px;
}



/* For Safari*/
.header-hyp.safari-header-hyp {
    margin-right: 15px;
}

.header-hyp.safari-header-hyp:last-of-type {
    margin-left: 0;
}


/* For Mozilla, Safari*/
.cross-header-hyp:last-of-type {
    margin-left: 10px;
}